html {
  box-sizing: border-box;
  margin: 0;
}

.main {
  margin: auto;
  padding: 2rem;
}

.container {
  display: flex;
  box-shadow: 1px 1px 11px 2px;
  border-radius: 20px;
  min-height: 17rem;
}

.side {
  padding: 1rem;
}

.side > h1 {
  margin-bottom: 1rem;
}

.btn-1 {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  border: none;
  background-color: #ff8686;
  margin: 1rem;
  padding: 1rem;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

#countdown{
  position: absolute;
  right:10rem;
  font-weight: bold;
}


@media (max-width: 800px) {
  .frst {
    display: flex;
    flex-wrap: wrap;
  }
  .main {
    margin: auto;
  }
  .container {
    display: block;
    border-radius: 5px;
  }
  .side {
    margin: 0;
    padding: 1rem;
  }
  #countdown{
    position: initial;
    right: 0px;
  }
}
  
